.navbar {
  top: 0;
  display: flex;
  height: 11vh;
  /* position: fixed; */
  /* z-index: 111111111111; */
  background-color: #ffffff;
  width: 100%;
  /* padding-left: 50px; */
  /* border: 1px solid rgba(145, 158, 171, 0.24); */
}

.navbar ul {
  /* height: 100%; */
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0px;
  align-items: center;
  justify-content: center;
}
.headline{
  font-size: 2vw;
  margin: 3vh 7vw 0vh 2vw;
  font-weight: bolder;
  margin: 0;
margin-top: 2vh;
}
.headline svg{
  cursor: pointer;
 
}


.sec {
  margin: 3vh 2vw 0vh 2vw;
  display: flex;
  
}
.option{
  padding: 1vh 2vw 0vh 2vw;
  font-size: 2.5vw;
 
  z-index: 111111111111;
  background-color: white;
}
.option svg{
  cursor: pointer;
}
.dot{
  margin-top: 2vh;
  color: rgb(0,155,229);
}

.restart{
  font-size: 2.5vw;
}
.sec p{
  font-size: 1vw;
}
.sec b{
  font-size: 1.5vw;
  margin-left: .5vw;
  margin-right: .5vw;
}
.sec3 {
  margin: 3vh 2vw 0vh 2vw;
}
.holder {
  display: flex;
  background-color: #f9f5f3;
  font-size: small;
  height: 6vh;
  color: white;
  border-radius: 30%;
}
.holder1 {
  border-radius: 30%;

  color: #9ba3aa;
  padding: 1vh 2vw 6vh 2vw;
}
.holder2 {
  border-radius: 30%;
  padding: 1vh 2vw 6vh 2vw;
  color: #9ba3aa;
}
.holder3 {
  
  border-radius: 30%;
  padding: 1vh 1.5vw 6vh 1.5vw;
  color: #9ba3aa;
}
.holder1:hover,
.holder2:hover,
.holder3:hover{
  background-color:rgb(0,155,229) ;
  color: black;
  cursor: pointer;
  
}
.active{
  background-color:rgb(0,155,229) ;
  color: black;
  font-weight: bolder;
}
.sec4{
  margin: 3vh 2vw 0vh 0vw;
  display: flex;
}
.start{
  color:rgb(0,155,229) ;
  font-size: 2vw;
  /* margin-right: 10px; */
}
.sec4p {
 
  /* border-width: 5px; */
  padding: 0vh 1vw 5vh 1vw;
  width: 11vw; 
   height: 0px;  
  border: none;
  border-bottom-style: solid;
  padding-top: 2vh;
  font-size: 1.5vw;
}
textarea:focus, input:focus{
  outline: none;
}
.stop{
  color:rgb(0,155,229) ;
  font-size: 2vw;
  /* margin-top: 10px; */
}

