.nav {
  top: 12vh;
  left: 1vw;
  
  position: absolute;
  z-index: 1;
  height: 90vh;
  width: 5vw;
  background-color: rgb(24,32,44);
  border-radius: 1px 15px 15px 1px;
  transition: 1s;
}
.hide{
  top: -100vh;
  opacity: 0;
  transition: 1s;
}


.water svg {
  margin:5vh 0vw 6vh 1vw;
  font-size: 7vh;
  color: #f4dbd4;
  
}
.home svg{
  margin:3vh 0vw 2vh 1vw;
  color: rgb(79,195,247);
  font-size: 5vh;
  cursor: pointer;
}
.holder svg{
  margin:2vh 1vw 2vh 1vw;
 font-size: 5vh;
 color: white;
 
}
.logout svg {
  margin:8vh 1vw 0vh 1vw;
  color: #f4dbd4;
  font-size: 6vh;
  cursor: pointer;
}
.store svg{
  margin:2vh 0vw 2vh 1vw;
  color: #f4dbd4;
  font-size: 5vh;
 
  cursor: pointer;
}

.store svg:hover,
.home svg:hover,
.logout svg:hover{
  color:rgb(79,195,247) ;
}
