.form {
  
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11111111;
  margin: 2vh 1vw 0px 0px ;
  border: 1px solid rgba(145, 158, 171, 0.24);
  box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
  rgb(145 158 171 / 24%) 0px 16px 32px -4px;
  font-size: 1.2vw;
  height: 23vh;
  width:20vw;
  background-color: rgb(255, 255, 255);
 
}
.main{
  display:flex;
}
.holder1 { 
  text-align: center; 
  /* font-size: 1vh; */

 } 
 .holder2 { 
   text-align: center; 
   /* font-size: 1vh; */
   
 }
.form p{
  width: 100%;
  margin: 0;
  padding: 0;
}







.check {
 
 
  margin :2vh 3vw 2vh 3vw;
 
  font-size: 1vw;
  display: flex; 
}




.checkmark  {
 
  z-index: 99999999999999999999999;
  height: 2vh;
  width: 1vw;
  background-color: gray;
  margin: 0 0 0 1vw;
  cursor: pointer;
}

 .checked {
  background-color: rgb(0,155,229);
}
