.form{
   
    margin-top: 10vh;
    background-color: rgb(24,32,44);
    width: 40vw;
    margin-left: 30vw;
   padding: 2vw 2vw 2vh 2vw;
   border-radius: 20%;
}
.headline{
  color: white;
  margin: 0vh 0vw 1vh 14vw;
}
.headlinetext{
  font-size: 2vw;
  width: 5vw;
  font-weight: bold;
  cursor: pointer;
}
.headlinetext:hover{
  border-bottom: 1px solid rgb(79,195,247);
  color:rgb(79,195,247) ;
}
.forminput{
 
  width: 15vw;
  margin: 1vh 1vw 1vh 1vw;
  color: white;
}
.forminputholder{
  
  display: flex;
}
.forminput2{
  width: 32vw;
  margin: 2vh 1vw 2vh 1vw;
  color: white;
}
.btn {
    background-color: blue;
    color: white;
    margin: 2vh 0vw 0vh 14vw;
  }
  .btn:hover {
    background-color: rgb(79,195,247);
    color: black;
  }
  .invalid{
    background-color: red;
    color: black;
    display: block;
  }
  .disable{
    background-color: #cccccc;
    color: #666666;
  }
  .disable:hover{
    background-color: #cccccc;
    color: #666666;

  }
  