.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color:rgb(27,52,75) ;
    color: white;
    padding: 2vh 1vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius:40%;
    font-weight: bold;
  }
  
  .button:hover,
  .button:active {
    background-color:rgb(0,155,229) ;
  }
  
  .icon {
  font-size: 3vw;
    
  }
  
  .badge {
    background-color: rgb(0,155,229);
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bolder;
    color: black;
  }
  
  .button:hover .badge,
  .button:active .badge {
    background-color: rgb(27,52,75);
    color: white;
  }
  
  .bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }